[user]
	name = Scott W. Bradley
	email = scottwb@example.com
[color]
	ui = auto
#[core]
#	autocrlf = input
[github]
	user = scottwb
	password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[alias]
	ci = commit -a
	stat = status -s
	co = checkout
	unadd = reset HEAD
#[diff]
#	tool = smartsync
#[difftool "smartsync"]
#	cmd = git-smart-synchronize-diff.sh "$LOCAL" "$REMOTE"
#[difftool]
#	prompt = false
[branchdiff]
	cmd = /Applications/SmartSynchronize3.app/smartsynchronize.sh
[push]
	default = tracking
