[user]
	name = Scott W. Bradley
	email = scottwb@example.com
[gpg]
    format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/scottwb/.ssh/allowed_signers
[color]
	ui = auto
[github]
	user = scottwb
	password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[alias]
	ci = commit -a
	stat = status -s
	co = checkout
	unadd = reset HEAD
[push]
	default = tracking
[credential]
    helper = osxkeychain
[init]
	defaultBranch = main
